*{
	font-size:13px;
	font-family: sans-serif;
}
body
{
	margin:0;
	padding:0;
}

.main_header,footer
{
	width:100%;
	background-color:#20d7bf;
	
}

.site-logo a
{
	display:block;
	color:white;
	font-size: 24px;
	font-weight:bold;
	padding: 12px;
	text-shadow: 0px 1px 1px rgba(0,0,0,0.7);
}

footer
{
	text-align:right;
	padding:6px 0;
}

footer a
{
	margin:0 6px;
	color:white;
}

#success
{
	color: white;
	font-size: 20px;
	font-weight:bold;

	padding: 8px; 
	text-shadow: 0px 1px 1px rgba(0,0,0,0.35);
	border:2px solid #3bb02b;
	border-radius:8px;
	background-color:#90DE95;
}

#wrapper
{
	position:relative;
	margin:24px auto;
	width:980px;
}

.block
{
	position:relative;
	float:left;
	background-color:#DAEAEB;
	border:2px solid #84BCBF;
	border-radius:8px;
	margin-right:12px;
	
	
}
.block:last-child
{
	margin-right:0;
}

.block h2
{
	font-size:16px;
	font-weight:bold;
	margin:0;
	padding:0;
	color: #26545E;
	text-shadow: 0px 1px 1px rgba(255,255,255,0.5);
}

.inner-block
{
	padding:16px 12px;
}

.inner-block table
{
	width:100%;
}

.inner-block td
{
	width:50%
}

.clear
{
	content:"";
	padding-top:24px;
	clear:left;
}

/*meu*/

.button {
    position: relative;
    background-color: #4CAF50;
    border: none;
    font-size: 18px;
    color: #FFFFFF;
    padding: 20px;
    width: 200px;
    text-align: center;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    text-decoration: none;
    overflow: hidden;
    cursor: pointer;
}

.button:after {
    content: "";
    background: #90EE90;
    display: block;
    position: absolute;
    padding-top: 300%;
    padding-left: 350%;
    margin-left: -20px!important;
    margin-top: -120%;
    opacity: 0;
    transition: all 0.8s
}

.button:active:after {
    padding: 0;
    margin: 0;
    opacity: 1;
    transition: 0s
}

img.active {
	visibility: visible;
}

img.nonactive {
	visibility: hidden;
}

div.alert{
	color: firebrick;
	font-size: xx-large;
	padding-left: 30%;
}

div.name{
	color: white;
	float: left;
	padding-left:1.5%;
}

.image1-box{
	width:300px;
	overflow:hidden;
}
.image1 {
	width:300px;
	height:300px;
	background: url("https://upload.wikimedia.org/wikipedia/commons/thumb/f/ff/1_%281967-1979_New_York_City_Subway_bullet%29.svg/768px-1_%281967-1979_New_York_City_Subway_bullet%29.svg.png");
	background-position: center;
	background-size: 300px 300px;
	background-repeat: no-repeat;
	transition: all 1s ease;
	-moz-transition: all 1s ease;
	-ms-transition: all 1s ease;
	-webkit-transition: all 1s ease;
	-o-transition: all 1s ease;
}
.image1:hover {
	transform: scale(1.5);
	-moz-transform: scale(1.5);
	-webkit-transform: scale(1.5);
	-o-transform: scale(1.5);
	-ms-transform: scale(1.5); /* IE 9 */
	-ms-filter: "progid:DXImageTransform.Microsoft.Matrix(M11=1.5, M12=0, M21=0, M22=1.5, SizingMethod='auto expand')"; /* IE8 */
	filter: progid:DXImageTransform.Microsoft.Matrix(M11=1.5, M12=0, M21=0, M22=1.5, SizingMethod='auto expand'); /* IE6 and 7 */
}

.image2-box{
	width:300px;
	overflow:hidden;
}
.image2 {
	width:300px;
	height:300px;
	background: url("https://upload.wikimedia.org/wikipedia/commons/thumb/f/ff/2_%281967-1979_New_York_City_Subway_bullet%29.svg/768px-2_%281967-1979_New_York_City_Subway_bullet%29.svg.png");
	background-position: center;
	background-size: 300px 300px;
	background-repeat: no-repeat;
	transition: all 1s ease;
	-moz-transition: all 1s ease;
	-ms-transition: all 1s ease;
	-webkit-transition: all 1s ease;
	-o-transition: all 1s ease;
}
.image2:hover {
	transform: scale(1.5);
	-moz-transform: scale(1.5);
	-webkit-transform: scale(1.5);
	-o-transform: scale(1.5);
	-ms-transform: scale(1.5); /* IE 9 */
	-ms-filter: "progid:DXImageTransform.Microsoft.Matrix(M11=1.5, M12=0, M21=0, M22=1.5, SizingMethod='auto expand')"; /* IE8 */
	filter: progid:DXImageTransform.Microsoft.Matrix(M11=1.5, M12=0, M21=0, M22=1.5, SizingMethod='auto expand'); /* IE6 and 7 */
}

.image3-box{
	width:300px;
	overflow:hidden;
}
.image3 {
	width:300px;
	height:300px;
	background: url("https://upload.wikimedia.org/wikipedia/commons/thumb/f/fa/3_%281967-1979_New_York_City_Subway_bullet%29.svg/768px-3_%281967-1979_New_York_City_Subway_bullet%29.svg.png") no-repeat center center;
	background-size: 300px 300px;
	transition: all 1s ease;
	-moz-transition: all 1s ease;
	-ms-transition: all 1s ease;
	-webkit-transition: all 1s ease;
	-o-transition: all 1s ease;
}
.image3:hover {
	transform: scale(1.5);
	-moz-transform: scale(1.5);
	-webkit-transform: scale(1.5);
	-o-transform: scale(1.5);
	-ms-transform: scale(1.5); /* IE 9 */
	-ms-filter: "progid:DXImageTransform.Microsoft.Matrix(M11=1.5, M12=0, M21=0, M22=1.5, SizingMethod='auto expand')"; /* IE8 */
	filter: progid:DXImageTransform.Microsoft.Matrix(M11=1.5, M12=0, M21=0, M22=1.5, SizingMethod='auto expand'); /* IE6 and 7 */
}

.image4-box{
	width:300px;
	overflow:hidden;
}
.image4 {

	width:300px;
	height:300px;

	background: url("https://upload.wikimedia.org/wikipedia/commons/thumb/2/2b/4_%281967-1979_New_York_City_Subway_bullet%29.svg/768px-4_%281967-1979_New_York_City_Subway_bullet%29.svg.png");
	background-position: center;
	background-size: 300px 300px;
	background-repeat: no-repeat;
	transition: all 1s ease;
	-moz-transition: all 1s ease;
	-ms-transition: all 1s ease;
	-webkit-transition: all 1s ease;
	-o-transition: all 1s ease;
}
.image4:hover {
	transform: scale(1.5);
	-moz-transform: scale(1.5);
	-webkit-transform: scale(1.5);
	-o-transform: scale(1.5);
	-ms-transform: scale(1.5); /* IE 9 */
	-ms-filter: "progid:DXImageTransform.Microsoft.Matrix(M11=1.5, M12=0, M21=0, M22=1.5, SizingMethod='auto expand')"; /* IE8 */
	filter: progid:DXImageTransform.Microsoft.Matrix(M11=1.5, M12=0, M21=0, M22=1.5, SizingMethod='auto expand'); /* IE6 and 7 */
}
.cos{
	padding-bottom: 420px;
}

.esquerra{
	position: relative;
	min-height: 50px;
	min-width: 50px;
	float: left;
	text-align: center;
	margin-right: 10px;
	margin-left: 10px;
	margin-top: 200px;
	margin-bottom: 200px;
}

.foto{
	position: relative;
	min-height: 400px;
	min-width: 400px;
	float: left;
	text-align: center;
	margin-right: 10px;
	margin-left: 10px;
	margin-bottom: 10px;
}
.gallery{
	position: relative;
	min-height: 250px;
	min-width: 250px;
	float: left;
	text-align: center;
	margin-right: 10px;
	margin-left: 10px;
	margin-bottom: 10px;
}

.fletxa{
	position: relative;
	min-height: 50px;
	min-width: 50px;
	float: left;
	text-align: center;
	margin-bottom: 10px;
}

.dreta{
	position: relative;
	min-height: 50px;
	min-width: 50px;
	float: left;
	text-align: center;
	margin-right: 10px;
	margin-left: 10px;
	margin-top: 200px;
	margin-bottom: 200px;
}

.fot{
	position: relative;
	min-height: 50px;
	min-width: 50px;
	float: left;
	text-align: center;
	margin-right: 10px;
	margin-left: 10px;
	margin-top: 200px;
	margin-bottom: 200px;
}

.smart-green {
	margin-left:auto;
	margin-right:auto;

	max-width: 500px;
	background: #F8F8F8;
	padding: 30px 30px 20px 30px;
	font: 12px Arial, Helvetica, sans-serif;
	color: #666;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
}
.smart-green h1 {
	font: 24px "Trebuchet MS", Arial, Helvetica, sans-serif;
	padding: 20px 0px 20px 40px;
	display: block;
	margin: -30px -30px 10px -30px;
	color: #FFF;
	background: #20d7bf;
	text-shadow: 1px 1px 1px #949494;
	border-radius: 5px 5px 0px 0px;
	-webkit-border-radius: 5px 5px 0px 0px;
	-moz-border-radius: 5px 5px 0px 0px;
	border-bottom:1px solid #89AF4C;

}
.smart-green h1>span {
	display: block;
	font-size: 11px;
	color: #FFF;
}

.smart-green label {
	display: block;
	margin: 0px 0px 5px;
}
.smart-green label>span {
	float: left;
	margin-top: 10px;
	color: #5E5E5E;
}
.smart-green input[type="text"], .smart-green input[type="URL"], .smart-green input[type="email"], .smart-green textarea, .smart-green select {
	color: #555;
	height: 30px;
	line-height:15px;
	width: 100%;
	padding: 0px 0px 0px 10px;
	margin-top: 2px;
	border: 1px solid #E5E5E5;
	background: #FBFBFB;
	outline: 0;
	-webkit-box-shadow: inset 1px 1px 2px rgba(238, 238, 238, 0.2);
	box-shadow: inset 1px 1px 2px rgba(238, 238, 238, 0.2);
	font: normal 14px/14px Arial, Helvetica, sans-serif;
}
.smart-green textarea{
	height:100px;
	padding-top: 10px;
}
.smart-green select {
	background: url('') no-repeat right, -moz-linear-gradient(top, #FBFBFB 0%, #E9E9E9 100%);
	background: url('') no-repeat right, -webkit-gradient(linear, left top, left bottom, color-stop(0%,#FBFBFB), color-stop(100%,#E9E9E9));
	appearance:none;
	-webkit-appearance:none;
	-moz-appearance: none;
	text-indent: 0.01px;
	text-overflow: '';
	width:100%;
	height:30px;
}
.smart-green .button {
	background-color: #20d7bf;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-border-radius: 5px;
	border: none;
	padding: 10px 25px 10px 25px;
	color: #FFF;
	text-shadow: 1px 1px 1px #949494;
	height:45px;
	width:100px;
}
.smart-green .button:hover {
	background-color:#20d7bf;
}
#table-wrapper {
	position:relative;
}
#table-scroll {
	height:150px;
	overflow:auto;
	margin-top:20px;
}
#table-wrapper table {
	width:100%;

}
#table-wrapper table * {
	background:yellow;
	color:black;
}
#table-wrapper table thead th .text {
	position:absolute;
	top:-20px;
	z-index:2;
	height:20px;
	width:35%;
	border:1px solid red;
}
ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #20d7bf;
}

li {
	float: left;
	border-right:1px solid #bbb;
}

li:last-child {
	border-right: none;
}

li a {
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

li a:hover:not(.active) {
	background-color: #111;
}

.active {
	background-color: #333;
}