{$modules.head}

<form method="post" class="smart-green">
    <h1>Benvingut a Ualapop
        <span>Ven i compra entre més d'un milió d'usuaris</span>
    </h1>
    <label>
        <span>Mail :</span>
        <input id="name" type="text" name="name" placeholder="Introdueix el teu correu electrònic" required/>
    </label>

    <label>
        <span>Contrassenya :</span>
        <input id="URL" type="URL" name="URL" style="color: #555; height: 30px;line-height:15px;width: 100%;padding: 0px 0px 0px 10px;margin-top: 2px;border: 1px solid #E5E5E5;background: #FBFBFB;outline: 0;-webkit-box-shadow: inset 1px 1px 2px rgba(238, 238, 238, 0.2);box-shadow: inset 1px 1px 2px rgba(238, 238, 238, 0.2);font: normal 14px/14px Arial, Helvetica, sans-serif;" placeholder="La contrassenya" required/>
    </label>

    <label>
        </br>
        <input type="submit" name="submit" class="button" value="Fet!" />
    </label>

    <div> No tens compte? <a href="/register">Fes click aqui</a></div>
</form>

<div class="clear"></div>
{$modules.footer}
