	</div>
	<footer>
		<a href="{$url.global}">LogIn</a>
		<div class = 'name'>Compra i ven tot el que vulguis!</div><br>
	</footer>
	
	<script src="{$url.global}/js/scripts.js"></script>
</body>
</html>