<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="description" content="" />
	<meta name="keywords" content="" />
	<meta name="title" content="" />
	<meta name="robots" content="all" />
	<meta name="expires" content="never" />
	<meta name="distribution" content="world" />		
	<title>Salle's framework</title>
	<link rel="stylesheet" href="{$url.global}/css/style.css">
</head>
<body>
	<div class="main_header">
		<header>


			<ul>
				<a href="{$url.global}"></href><img src="{$url.global}/imag/logo2.png" alt="Ualapop" border="0" class="sig-logo" width="200" height="45"></a>
				<li style="float:right"><a href="{$url.global}/login">Login</a></li>
				<li style="float:right"><a href="#about">Inici</a></li>
				<li style="float:right"><a href="#about">Compra</a></li>
			</ul>

		</header>
	</div>
	<div id="wrapper">